.conteiner{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr;
    grid-template-areas:
     "box1 box1 box2 box5" 
     "box3 box4 box4 box5";
}
#box1{
    
    background: rgba(115, 63, 200, 1);
    grid-area: box1;
    border-radius: 20px;
    justify-content: space-between;
}
img{
    margin-left: 30px;
    margin-top: 30px;
}

.name-box{
    margin-left: 80px;
    margin-top: -50px;
    line-height: 11px;
    
}
.name{
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
} 
.job{
    color: rgba(207, 207, 207, 1);
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5px;
} 
.logo{
    margin-left: 300px;
    margin-top: -62px;
}
.text
{
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-top: -30px;
    line-height: 24px;
}
.text1  {
   
    font-weight: 500px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 35px;
    color: rgba(207, 207, 207, 1);
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 20px;
}  
#box2{
    background: rgba(72, 85, 106, 1);
    grid-area: box2;
    border-radius: 20px;
    margin-left: 20px;
}
.text2{
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-top: 28px;
}
.text3{
    color: rgb(182, 185, 190);
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 18px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 40px;
}
#box3{ 
    
    background: rgba(255, 255, 255, 1);
    grid-area: box3;
    border-radius: 20px;
    margin-top: 20px;
}
.name1{
    color: rgba(72, 85, 106, 1);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
} 
#box4{
   
    background: rgba(25, 32, 45, 1);
    grid-area: box4;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.text4
{
    
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-top: 28px;
    line-height: 18px;

}
.text5 {
    
    font-size: 13px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(72, 85, 106, 1);
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 18px;
}  
#box5{ 
    
    background: rgba(255, 255, 255, 1);
    grid-area: box5;
    border-radius: 20px;
    margin-left: 20px;
    
}
.text6{
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(20, 19, 19);
    margin-left: 20px;
    margin-top: 28px;
}
/*
@media only screen and (max-width: 327px){
    .conteiner{
        height: 1824px;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1.5fr 2fr;
        grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5";
        gap: 20px;
    
    }
    .box1{
           width: 327px;
           height: 444px;
           background-image: url(image/“\ \(2\).png);
           border-radius: 25px;
        }
        img{
            margin-left: 30px;
            margin-top: 20px;
        }
        .name{
            color: white;
            font-size: 13px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        } 
        .name-box{
            margin-left: 70px;
            margin-top: -48px;
            
        }
        .job{
            color: rgba(207, 207, 207, 1);
            font-size: 11px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        } 
        .text
        {
            width: 283px;
            height: 120px;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: rgba(255, 255, 255, 1);
            margin-left: 28px;
            margin-top: -27px;
            line-height: 22px;
        
        }
        .text1  {
            width: 260px;
            height: 180px;
            font-size: 12px;
            margin-left: 25px;
            margin-top: 40px;
            color: rgba(207, 207, 207, 1);
            font-family: 'Barlow Semi Condensed', sans-serif;
            line-height: 16px;
        }  
        
        .box2{
            background: rgba(72, 85, 106, 1);
            grid-area: box2;
            border-radius: 20px;
            margin-right: 30px;
        }
            .text2{
                width: 283px;
                height: 120px;
                font-size: 20px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: rgba(255, 255, 255, 1);
                margin-left: 18px;
                margin-top: px;
                line-height: 22px;
            }
            .text3{
                color: rgb(182, 185, 190);
                font-family: 'Barlow Semi Condensed', sans-serif;
                line-height: 18px;
                font-size: 14px;
                margin-left: 15px;
                margin-top: -40px;
            }
        }
.box3{
    height: 222px;
    color: rgba(72, 85, 106, 1);
    background: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif2;
    margin-top: 15px;
}
.text6{
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(20, 19, 19);
    margin-left: 20px;
    margin-top: 28px;
}
}